body {
    background-color: #000000;
}
p {
    color: white; /* Цвет текста */
}
h1 {
    color: white; /* Цвет текста */
}
h2 {
    color: white; /* Цвет текста */
}
h3 {
    color: white; /* Цвет текста */
}