body {
    background-color: #ffffff;
}

p {
    color: #002C5B;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* Цвет текста */
}

h1 {
    color: #002C5B;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* Цвет текста */
}

h2 {
    color: #002C5B;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* Цвет текста */
}

h3 {
    color: #002C5B;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* Цвет текста */
}
