{% extends "base.html" %}


{% block content %}
    <br>
    <div class="col d-flex justify-content-center">
        <div class="card  w-75" style="background-color: #ffffff;">
            <div class="card-header text-center ">
                <h5>Авторизация</h5>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username(class="form-control", type="username", placeholder="Имя пользователя" ) }}<br>
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {{ form.ip(class="form-control", type="ip", placeholder="IP адрес сервера") }}<br>
                        {% for error in form.ip.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p class="text-center">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(type="submit", class="btn btn-secondary w-100", style="background-color: #004E9F;") }}</p>
                    <div>{{ message }}</div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}