{% extends "base.html" %}

{% block content %}
    <br></br>
    <style>
        img {
            max-width: 90%;
            height: auto;
        }
    </style>
    <h2 style="color:white;" align="center">Нас много!</h2>
    <p>Дорогой друг!
        Мы знаем, что талант гаснет в одиночестве.
        Если тебе грустно и кажется, что нет в мире больше таких увлеченных людей, как ты,
        просто посмотри на карту и пойми, что ты не одинок, нас много, и за нами будущее.
        Под картой ты найдешь список людей, которые ищут себе напарника для учёбы или приятного собеседника.
        Дерзай!</p>
    <p align="center">
        <img src="static/img/map.png" alt="Карта не нашлась :("  style="color:white;" >
    </p>>
    <br></br>
    <br>
        {% if (current_user.is_authenticated)%}
            <table align="center">
                <tr>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th>Возраст</th>
                  <th>Интересы</th>
                  <th>Страничка в вк</th>
                </tr>
                {% for item in users%}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.surname}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.subject}}</td>
                        <td>{{item.vk}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    <br>
{% endblock %}