{% extends "base.html" %}

{% block content %}
     <br></br>
    <h2 style="color:white;" align="center">Eжедневник</h2>
    <p style="color:white;" align="center">
    {% if (current_user.is_authenticated)%}
        <p style="color:white;" align="center"><a href="addaction" class="btn btn-secondary">Добавить действие</a></p>
    {% endif %}
        <br>
            <table align="center">
                <tr>
                  <th>Название</th>
                  <th>Время выполнения</th>
                  <th>Комментарий</th>
                  <th>Дедлайн</th>
                  <th>Сделано?</th>
                  <th>Редактировать</th>
                </tr>
                {% for item in actions%}
                {% if (current_user.is_authenticated and current_user == item.user)%}
                    <tr>
                        <td>{{item.title}}</td>
                        <td>{{item.work_size}}</td>
                        <td>{{item.comment}}</td>
                        <td>{{item.date}}</td>
                        {% if item.is_finished %}
                            <td>Сделано</td>
                        {% else %}
                            <td>Не сделано</td>
                        {% endif %}
                        <td>
                         {% if (current_user.is_authenticated and current_user == item.user)%}
                            <div>
                                <a href="/addaction/{{ item.id }}" class="btn btn-outline-danger">Редактировать</a>
                                <a href="/action_delete/{{ item.id }}" class="btn btn-outline-danger">Удалить</a>
                            </div>
                         {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        <br>
{% endblock %}