{% extends "base.html" %}

{% block content %}
     <br>
    <h2 class="align-center text-center">Пулы</h2>
    <p class="align-center">
        <br>
            <table class="table bg-white rounded-pill table-hover align-center text-center">
                <tr>
                  <th>Название</th>
                  <th>Нода</th>
                  <th>Количество ВМ</th>
                  <th>CPU</th>
                  <th>MEM</th>
                  <th>Редактировать</th>
                </tr>
                {% for item in pools%}
                    <tr>
                        <td><a href="/pool/{{ item['pool'].id }}">{{item['pool'].title}}</a></td>
                        <td>{{ item['pool'].node }}</td>
                        <td>{{ item['pool'].count }}</td>
                        <td>{{ item['cpu'] }}</td>
                        <td>{{ item['mem'] }}</td>
                        <td>
                          <div>
                                <a href="/editPool/{{ item['pool'].id }}" class="btn btn-outline-primary">Редактировать</a>
                                <a href="/deletePool/{{ item['pool'].id }}" class="btn btn-outline-primary">Удалить</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        <br>
{% endblock %}